/*
* Buttons
*/

.btn {
    @include btn(
        $height: height(btn),
        $rounded: false,
        $c-bg: transparent
    );
    position: relative;
    line-height: height(btn);
    text-align: center;
    @include transition(background, 0.5s, ease);
    .fa {
        line-height: height(btn);
    }
    // btn colors
    &.btn-black {
        background-color: lighten(color(grayDark), 10%) ;
        color: color(white);
        &:hover { background-color: color(gray); }
        &.active,
        &:active { background-color: color(black); }
    }
    &.btn-white {
        background-color: color(white);
        color: color(grayDark);
        border: 1px solid color(grayDark);
        &:hover {
            color: color(white);
            background-color: color(grayDark);
        }
        &:active {
            color: color(grayDark);
            background-color: color(white);
        }
    }
    &.btn-red {
        background-color: color(red);
        &:hover { background-color: lighten(color(red),5%); }
        &:active { background-color: color(red); }
    }
    &.btn-brown {
        color: color(brown);
        border-color: color(brown);
        font-weight: bold;
        border-style: solid;
        border-width: 1px;
        text-transform: uppercase;
        @include transition(all, 0.3s, ease);
        @media #{$md-up} {
            height: height(btnBrown) - 10;
            line-height: height(btnBrown) - 10;
            font-size: 12px !important;
        }
        @media #{$lg-up} {
            font-size: 14px !important;
            height: height(btnBrown) - 5;
            line-height: height(btnBrown) - 5;
        }
        @media #{$xl-up} {
            font-size: 16px !important;
            border-width: 2px;
            height: height(btnBrown);
            line-height: height(btnBrown);
        }
        &:hover {
            color: darken(color(brown) , 15%);
            border-color: darken(color(brown) , 15%);
        }
        &:active {
            color: color(brown);
            border-color: color(brown);
        }
    }
    // btn sizes
    &.btn-lg {
        height: height(btnLg);
        line-height: height(btnLg);
        .fa {
            line-height: height(btnLg);
        }
    }
}

.close {
    position: absolute;
    right:0;
    top:0;
    margin: 20px;
    color: color(white);
    cursor: pointer;
    line-height: 70%;
    &:hover {
        color: color(red);
    }
}