/*
* include prefect scroll bar
*/
@import "../../../node_modules/perfect-scrollbar/src/css/main";

.ps-scrollbar-y-rail {
  $size: 4px;
  z-index: z(aboveSlider);
  width: $size !important;
  .ps-scrollbar-y {
    width: $size !important;
    border-radius: 0 !important;
    background-color: color(red) !important;
  }
}