

.form-list {
  .form-list__item {
    position: relative;

    .close {
      font-size: 18px;
      margin: 0;
      color: color(gray);
      &:focus,
      &:hover {
        color: color(red);
        text-decoration: none;
      }
    }
    .form-group {
      .table-middle {
        height: 50px;
        text-align: center;
        font-size: 11px;
      }
    }
  }
}