/*
* List-group SASS file
*/
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";

.list-group-item {
  color: $list-group-link-color;

  .list-group-item-heading {
    color: $list-group-link-heading-color;
  }

  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    color: $list-group-link-hover-color;
    background-color: $list-group-hover-bg;
  }
}