.loader {
  overflow: hidden;
  position: relative;
  background-color: color(snow);
  @media #{$xs-up} { height: height(imagePromoXs); }
  @media #{$sm-up} { height: height(imagePromoSm); }
  @media #{$md-up} { height: height(imagePromoMd); }
  @media #{$lg-up} { height: height(imagePromoLg); }
  @media #{$xl-up} { height: height(imagePromoXl); }
  &.small {
    @media #{$xs-up} { height: height(imagePromoSmallXs); }
    @media #{$sm-up} { height: height(imagePromoSmallSm); }
    @media #{$md-up} { height: height(imagePromoSmallMd); }
    @media #{$lg-up} { height: height(imagePromoSmallLg); }
    @media #{$xl-up} { height: height(imagePromoSmallXl); }
  }
  &:before,
  &:after {
    content: "";
    border: 3px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    @include center;
  }
  &:before {
    border-color: color(snowDark);
  }
  &:after {
    border-top-color: color(red);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}