.move-top {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  opacity: .7;
  display: none;
  //-webkit-animation: move-opacity-out 0.3s ease-out;
  //animation: move-opacity-out 0.3s ease-out;
  .fa {
    width: 40px;
    height: 40px;
    @include center;
    top:auto;
    bottom:20px;
    color: color(snowDark);
  }
  &:hover {
    -webkit-animation: move-opacity 0.3s ease-out;
    animation: move-opacity 0.3s ease-out;
    @include gradient-vertical(color(white), color(snowDark));
    .fa {
      color: color(white);
    }
  }

  @include breakpoint(xl) {
    width: 100px;
    z-index: z(default);
  }
  @include breakpoint(md) {
    display: block;
  }
}