.gj-social {
  font-size: 12px;
  h2 {
    font-size: 10px;
  }
  .gj-social__buttons {
    a {
      font-size: .81em;
      letter-spacing: 0;
      margin: 5px 10px;
    }
    .btn {
      //width: height(btn);
      padding: 0;
    }
  }
}