/*
* Viewed products
*/

.gj-viewed {
  h2 {

  }
  .gj-viewed__item {

    .gj-viewed__item__name {
      display: block;
    }
    .gj-viewed__item__image {
      display: block;
      max-width: 100%;
    }
  }
}

// include owl carousel
@import "../../../bower_components/owl.carousel/src/scss/owl.carousel";
@import "../../../bower_components/owl.carousel/src/scss/owl.animate";
@import "../../../bower_components/owl.carousel/src/scss/owl.autoheight";
@import "../../../bower_components/owl.carousel/src/scss/owl.lazyload";
@import "../../../bower_components/owl.carousel/src/scss/owl.video";