/*
* Header
*/

.header {
  font-size: 14px;
  border-top: 5px solid color(red);
  font-family: font(ptSans);

  .header__top {
    padding-top: 25px;
    position: relative;
    height: 90px;
    .header__small-arrow {
      @include arrow(5px, 3px, color(red), bottom);
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 2px;
    }

    .header__lang {
      float: left;
      min-width: 100px;
      line-height: 50px;
    }

    .header__geo {
      float: left;
      min-width: 170px;
      line-height: 50px;
    }

    .header__liked {
      font-size: 13px;
      float: left;
      min-width: 80px;
      line-height: 50px;
      .icon_liked {
        margin-bottom: -5px;
        margin-right: 10px;
      }
    }

    .header__basket {
      font-size: 13px;
      float: left;
      min-width: 100px;
      line-height: 50px;
      .header__basket__icon {
        margin-bottom: -12px;
        margin-right: 10px;
        display: inline-block;
        height: 37px;
        width: 37px;
        border-radius: 50%;
        background-color: color(red);
        position: relative;
        .icon_basket {
          @include center();
        }
      }
    }


    .header__logo {
      @include center(top);
      font-size: 13.4px;
      background-color: color(red);
    }

    .header__search {
      $height: 40px;
      float: right;
      position: relative;
      input {
        display: block;
        width: 480px;
        height: $height;
        padding: 0 $height 0 25px;
        font-size: 13px;
        line-height: $height;
        color: color(white);
        background-color: color(grayLight);
        background-image: none;
        border: 1px solid color(grayLight);
        border-radius: $height / 2;

        &:focus {
          border-color: color(grayLight);
          outline: 0;
        }
        &::-webkit-input-placeholder {
          color: color(white);
        }
        &::-moz-placeholder {
          color: color(white);
        }
        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
          border: 0;
          background-color: transparent;
        }
      }
      .btn {
        height: $height;
        width: $height / 2;
        padding: 0;
        @include center(right, 20px);
        .icon_search {

        }
      }
    }
  }

  .header__menu {
    margin: 15px 0 -5px;
    .ico_marker {
      margin-bottom: -5px;
      margin-right: 10px;
    }
  }
}