/*
* Header
*/

.header {
  font-size: 14px;


  .header__top {
    position: relative;
    height: 90px;
    .header__lang {
      float: left;
      min-width: 100px;
    }

    .header__geo {
      float: left;
      min-width: 100px;
    }

    .header__liked {
      float: left;
      min-width: 100px;
    }

    .header__basket {
      float: left;
      min-width: 100px;
    }


    .header__logo {
      @include center();
      bottom: auto;
      font-size: $baseFontSize;
      background-color: color(red);
    }

    .header__search {
      float: right;
    }
  }
}