$icons: (
    sprite: (width: 3414px, height: 3414px, pngPath: '../images/sprite-svg.png', svgPath: '../images/sprite-svg.svg'),
        cena: (width: 1000px, height: 1000px, backgroundX: 0px, backgroundY: 0px),
        gj: (width: 283.46px, height: 283.46px, backgroundX: -1010px, backgroundY: -1010px),
        kachestvo: (width: 1000px, height: 1000px, backgroundX: -1304px, backgroundY: -1304px),
        logo: (width: 80px, height: 80px, backgroundX: -2314px, backgroundY: -2314px),
        moda: (width: 1000px, height: 1000px, backgroundX: -2404px, backgroundY: -2404px),
);