$s-arrow-red-left: 68px, 72px, -68px, -72px, 20px, 22px, 197px, 136px, 'sprite.png';
$s-arrow-red-right: 118px, 72px, -118px, -72px, 19px, 22px, 197px, 136px, 'sprite.png';
$s-arrow-white-left: 93px, 72px, -93px, -72px, 20px, 22px, 197px, 136px, 'sprite.png';
$s-arrow-white-right: 142px, 72px, -142px, -72px, 19px, 22px, 197px, 136px, 'sprite.png';
$s-basket_white: 112px, 99px, -112px, -99px, 16px, 16px, 197px, 136px, 'sprite.png';
$s-ico-adv-1: 0px, 0px, 0px, 0px, 89px, 67px, 197px, 136px, 'sprite.png';
$s-ico-adv-2: 0px, 72px, 0px, -72px, 63px, 64px, 197px, 136px, 'sprite.png';
$s-ico-adv-3: 94px, 0px, -94px, 0px, 103px, 52px, 197px, 136px, 'sprite.png';
$s-liked: 166px, 72px, -166px, -72px, 19px, 17px, 197px, 136px, 'sprite.png';
$s-marker: 92px, 99px, -92px, -99px, 15px, 18px, 197px, 136px, 'sprite.png';
$s-marker_white: 68px, 99px, -68px, -99px, 19px, 23px, 197px, 136px, 'sprite.png';
$s-search: 133px, 99px, -133px, -99px, 14px, 13px, 197px, 136px, 'sprite.png';
