$icons: (
    sprite: (width: 895px, height: 901px, pngPath: '../images/sprite-svg.png', svgPath: '../images/sprite-svg.svg'),
        drawing2: (width: 7px, height: 10px, backgroundX: 0px, backgroundY: 0px),
        f_ico: (width: 36.04px, height: 36.04px, backgroundX: -17px, backgroundY: -20px),
        gj: (width: 283.46px, height: 283.46px, backgroundX: -64px, backgroundY: -67px),
        in_ico: (width: 36.04px, height: 36.04px, backgroundX: -358px, backgroundY: -361px),
        insta_ico: (width: 36.04px, height: 36.04px, backgroundX: -405px, backgroundY: -408px),
        logo: (width: 80px, height: 80px, backgroundX: -452px, backgroundY: -455px),
        map: (width: 16px, height: 16px, backgroundX: -542px, backgroundY: -545px),
        ok_ico: (width: 36.04px, height: 36.04px, backgroundX: -568px, backgroundY: -571px),
        seo_info: (width: 81.04px, height: 84.82px, backgroundX: -615px, backgroundY: -618px),
        t_ico: (width: 36.04px, height: 36.04px, backgroundX: -707px, backgroundY: -713px),
        t_ico2: (width: 36.04px, height: 36.04px, backgroundX: -754px, backgroundY: -760px),
        vk_ico: (width: 36.04px, height: 36.04px, backgroundX: -801px, backgroundY: -807px),
        you_ico: (width: 36.04px, height: 36.04px, backgroundX: -848px, backgroundY: -854px),
);