/*
* Reset and dependencies
*/
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_print";

/*
* Main styles
*/
* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  font-family: font(centuryGothic);
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: color(black);
}

iframe {
  border: 0;
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}


