@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CenturyGothic.woff") format("woff"),
  url("../fonts/CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CenturyGothic-Bold.woff") format("woff"),
  url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}