@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CenturyGothic.woff") format("woff"),
  url("../fonts/CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CenturyGothic-Bold.woff") format("woff"),
  url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: 'MuseoSansCyr';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/MuseoSansCyrl300.eot');
  src: url('../fonts/MuseoSansCyrl300.eot') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl300.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl300.ttf') format('truetype'),
  url('../fonts/MuseoSansCyrl300.svg#MuseoSansCyrl300') format('svg');
}

@font-face {
  font-family: 'MuseoSansCyr';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/MuseoSansCyrl900.eot');
  src: url('../fonts/MuseoSansCyrl900.eot') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl900.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl900.woff') format('woff'),
  url('../fonts/MuseoSansCyrl900.ttf') format('truetype'),
  url('../fonts/MuseoSansCyrl900.svg#MuseoSansCyrl900') format('svg');
}

@font-face {
  font-family: 'PtSans';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/pts55f-webfont.eot');
  src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pts55f-webfont.woff2') format('woff2'),
  url('../fonts/pts55f-webfont.woff') format('woff'),
  url('../fonts/pts55f-webfont.ttf') format('truetype'),
  url('../fonts/pts55f-webfont.svg#pt_sansregular') format('svg');
}