/*
* Icons
*/

.icon {

  &.icon-gj { @include spriteSvg(logo); }
  &.icon-gj-white { @include spriteSvg(gj); }

  &.icon-bars {
    $size: 20px;
    width: $size;
    height: $size / 10 * 3 + $size / 10 * 1.5 * 2;
    display: inline-block;
    position: relative;
    .elem-1,
    .elem-2,
    .elem-3 {
      display: block;
      height: $size / 10;
      width: $size;
      margin-bottom: $size / 10 * 1.5;
      background-color: color(white);
    }
    .elem-1 { @include transition(transform  0.5s ease); }
    .elem-2 { @include transition(opacity 0.5s ease); }
    .elem-3 { @include transition(transform  0.5s ease); margin-bottom: 0; }
    &.active {
      .elem-1,
      .elem-2,
      .elem-3 {
        @include center;
      }
      .elem-1 { @include rotate(45deg); }
      .elem-2 { @include opacity(0); }
      .elem-3 { @include rotate(-45deg); }
    }
  }
}